/***** General *****/

/*** Sticky Footer Setup **/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/***** Footer ******/
footer {
    background-color: #7d0b6b;
    color: #fff;
}

address {
    font-style: italic;
}

.fab {
    font-size: 36px;
    margin: 0 5px;
}

a {
    color: #2b9489;
}

/*** Navigation ***/
/* navbar bottom border */
.navbar {
    border-bottom: #2b9489;
    border-width: 2px;
    border-bottom-style: solid;
}

/* hover on nav links */
.nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover {
    color: #7d0b6b;
}

/***** Component Specific *****/
.card img{
  max-height:300px;
}
/* make text dark to work in sections with light bgkds */
.card-text, .card-title, .price, 
.list-group-item {
  color:#222;
}
.price{
  font-weight: bold;
}
/* height of slider image to cover until the fold */
.h-fold {
    height: 700px;
}
.carousel-caption {
    background-color: #000;
    opacity: .7;
}